<xf:title>{{ phrase('xbt_torrents') }}</xf:title>

<xf:breadcrumb href="{{ link('torrents') }}">{{ phrase('xbt_torrents') }}</xf:breadcrumb>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h1 class="block-header-title">{{ phrase('xbt_search_torrents') }}</h1>
        </div>
        <div class="block-body">
            <xf:form action="{{ link('torrents') }}" class="block" method="get">
                <div class="block-filterBar">
                    <div class="filterBar">
                        <xf:textbox name="q" value="{{ $searchQuery }}" placeholder="{{ phrase('search') }}..." />
                        
                        <xf:select name="category_id" value="{{ $categoryId }}">
                            <xf:option value="0">{{ phrase('all_categories') }}</xf:option>
                            <xf:foreach loop="$categories" value="$category">
                                <xf:option value="{$category.category_id}">{$category.title}</xf:option>
                            </xf:foreach>
                        </xf:select>
                        
                        <xf:select name="quality" value="{{ $quality }}">
                            <xf:option value="">{{ phrase('all_qualities') }}</xf:option>
                            <xf:foreach loop="$videoQualities" key="$key" value="$value">
                                <xf:option value="{$key}">{$value}</xf:option>
                            </xf:foreach>
                        </xf:select>
                        
                        <xf:select name="audio" value="{{ $audio }}">
                            <xf:option value="">{{ phrase('all_audio_formats') }}</xf:option>
                            <xf:foreach loop="$audioFormats" key="$key" value="$value">
                                <xf:option value="{$key}">{$value}</xf:option>
                            </xf:foreach>
                        </xf:select>
                        
                        <xf:select name="sort" value="{{ $sortOrder }}">
                            <xf:option value="creation_date">{{ phrase('date') }}</xf:option>
                            <xf:option value="seeders">{{ phrase('xbt_seeders') }}</xf:option>
                            <xf:option value="size">{{ phrase('xbt_size') }}</xf:option>
                            <xf:option value="completed">{{ phrase('xbt_completed') }}</xf:option>
                            <xf:option value="title">{{ phrase('title') }}</xf:option>
                        </xf:select>
                        
                        <xf:select name="direction" value="{{ $sortDirection }}">
                            <xf:option value="desc">{{ phrase('descending') }}</xf:option>
                            <xf:option value="asc">{{ phrase('ascending') }}</xf:option>
                        </xf:select>
                        
                        <xf:button type="submit" icon="search">{{ phrase('filter') }}</xf:button>
                    </div>
                </div>
            </xf:form>
        </div>
    </div>
</div>

<!-- Latest torrents slider -->
<xf:if is="!empty($latestTorrents)">
    <div class="block">
        <div class="block-container">
            <div class="block-header">
                <h2 class="block-header-title">{{ phrase('xbt_latest_torrents') }}</h2>
            </div>
            <div class="block-body">
                <div class="xbTorrentSlider" data-xf-init="xbt-slider">
                    <xf:foreach loop="$latestTorrents" value="$torrent">
                        <div class="xbTorrentSlider-item">
                            <a href="{{ link('torrents/view', $torrent) }}" class="xbTorrentSlider-itemLink">
                                <xf:if is="!empty($torrent.poster_url)">
                                    <div class="xbTorrentSlider-itemPoster" style="background-image: url('{{ $torrent.poster_url }}')">
                                        <div class="xbTorrentSlider-itemOverlay">
                                            <div class="xbTorrentSlider-itemTitle">{{ $torrent.title }}</div>
                                            <div class="xbTorrentSlider-itemInfo">
                                                <span class="xbTorrentSlider-seeders">{{ phrase('xbt_seeders') }}: {{ $torrent.seeders }}</span>
                                                <span class="xbTorrentSlider-leechers">{{ phrase('xbt_leechers') }}: {{ $torrent.leechers }}</span>
                                            </div>
                                        </div>
                                    </div>
                                <xf:else />
                                    <div class="xbTorrentSlider-itemPoster xbTorrentSlider-itemPoster--noImage">
                                        <div class="xbTorrentSlider-itemOverlay">
                                            <div class="xbTorrentSlider-itemTitle">{{ $torrent.title }}</div>
                                            <div class="xbTorrentSlider-itemInfo">
                                                <span class="xbTorrentSlider-seeders">{{ phrase('xbt_seeders') }}: {{ $torrent.seeders }}</span>
                                                <span class="xbTorrentSlider-leechers">{{ phrase('xbt_leechers') }}: {{ $torrent.leechers }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </xf:if>
                            </a>
                        </div>
                    </xf:foreach>
                </div>
            </div>
        </div>
    </div>
</xf:if>

<!-- Main torrent listing -->
<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_torrents') }}</h2>
            <div class="block-header-controls">
                <xf:if is="$xf.visitor.hasPermission('xbtTracker', 'upload')">
                    <a href="{{ link('torrents/upload') }}" class="button button--link">
                        <xf:fa icon="fa-upload" />
                        {{ phrase('xbt_upload_torrent') }}
                    </a>
                </xf:if>
            </div>
        </div>
        <div class="block-body">
            <xf:if is="empty($torrents)">
                <div class="block-row">{{ phrase('xbt_no_torrents_found') }}</div>
            <xf:else />
                <div class="structItemContainer">
                    <xf:foreach loop="$torrents" value="$torrent">
                        <div class="structItem structItem--torrent">
                            <div class="structItem-cell structItem-cell--icon">
                                <div class="structItem-iconContainer">
                                    <xf:if is="!empty($torrent.poster_url)">
                                        <a href="{{ link('torrents/view', $torrent) }}">
                                            <img src="{{ $torrent.poster_url }}" alt="{{ $torrent.title }}" class="structItem-poster" />
                                        </a>
                                    <xf:else />
                                        <a href="{{ link('torrents/view', $torrent) }}">
                                            <span class="structItem-posterPlaceholder">
                                                <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </xf:if>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    <a href="{{ link('torrents/view', $torrent) }}">{{ $torrent.title }}</a>
                                    <xf:if is="!empty($torrent.is_freeleech)">
                                        <span class="label label--primary">{{ phrase('xbt_freeleech') }}</span>
                                    </xf:if>
                                </div>
                                <div class="structItem-minor">
                                    <ul class="structItem-parts">
                                        <xf:if is="!empty($torrent.User)">
                                            <li>{{ phrase('uploaded_by') }}: <a href="{{ link('members', $torrent.User) }}">{{ $torrent.User.username }}</a></li>
                                        </xf:if>
                                        <xf:if is="!empty($torrent.Category)">
                                            <li>{{ phrase('category') }}: <a href="{{ link('torrents', null, {'category_id': $torrent.category_id}) }}">{{ $torrent.Category.title }}</a></li>
                                        </xf:if>
                                        <li>{{ phrase('uploaded') }}: {{ date_time($torrent.creation_date) }}</li>
                                    </ul>
                                    <xf:if is="!empty($torrent.video_quality) || !empty($torrent.audio_format) || !empty($torrent.audio_channels)">
                                        <ul class="structItem-parts structItem-parts--torrentTags">
                                            <xf:if is="!empty($torrent.video_quality) && isset($torrent.video_quality_badge)">
                                                <li>
                                                    <span class="labelTorrent labelTorrent--{{ $torrent.video_quality_badge.class }}">
                                                        <i class="fa {{ $torrent.video_quality_badge.icon }}" aria-hidden="true"></i>
                                                        {{ $torrent.video_quality_badge.text }}
                                                    </span>
                                                </li>
                                            </xf:if>
                                            <xf:if is="!empty($torrent.audio_format) && isset($torrent.audio_format_badge)">
                                                <li>
                                                    <span class="labelTorrent labelTorrent--{{ $torrent.audio_format_badge.class }}">
                                                        <i class="fa {{ $torrent.audio_format_badge.icon }}" aria-hidden="true"></i>
                                                        {{ $torrent.audio_format_badge.text }}
                                                    </span>
                                                </li>
                                            </xf:if>
                                            <xf:if is="!empty($torrent.audio_channels)">
                                                <li>
                                                    <span class="labelTorrent labelTorrent--audio">
                                                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                                                        {{ $torrent.audio_channels }}
                                                    </span>
                                                </li>
                                            </xf:if>
                                        </ul>
                                    </xf:if>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--stats">
                                <div class="structItem-statuses">
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_size') }}</dt>
                                        <dd>{{ $torrent.size_formatted }}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_seeders') }}</dt>
                                        <xf:if is="$torrent.seeders > 0">
                                            <dd class="pairs-value--seeders">{{ $torrent.seeders }}</dd>
                                        <xf:else />
                                            <dd class="pairs-value--noSeeders">{{ $torrent.seeders }}</dd>
                                        </xf:if>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_leechers') }}</dt>
                                        <dd>{{ $torrent.leechers }}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_completed') }}</dt>
                                        <dd>{{ $torrent.completed }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--download">
                                <xf:if is="$xf.visitor.hasPermission('xbtTracker', 'download')">
                                    <a href="{{ link('torrents/download', $torrent) }}" class="button button--icon">
                                        <xf:fa icon="fa-download" />
                                        <span class="button-text">{{ phrase('download') }}</span>
                                    </a>
                                </xf:if>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
            </xf:if>
        </div>
        
        <xf:set var="$pageNavParams" value="{
            'q': $searchQuery,
            'category_id': $categoryId,
            'quality': $quality,
            'audio': $audio,
            'sort': $sortOrder,
            'direction': $sortDirection
        }" />
        
        <xf:pagenav page="{$page}" 
                   perpage="{$perPage}" 
                   total="{$totalTorrents}" 
                   link="torrents" 
                   params="{$pageNavParams}" />
    </div>
</div>

<!-- Tracker Stats Widget -->
<xf:widget key="xbt_tracker_stats" position="sidebar" />