<xf:if is="$display_style == 'simple'">
  <!-- عرض بسيط للتورنت -->
  <div class="bbCodeTorrent bbCodeTorrent--simple">
    <div class="bbCodeTorrent-header">
      <span class="bbCodeTorrent-title">
        <a href="{{ link('torrents', $info) }}">{$info.name}</a>
      </span>
    </div>
    <div class="bbCodeTorrent-stats">
      <span class="bbCodeTorrent-seeders">
        <i class="fa fa-arrow-up"></i> {$info.seeders} {{ phrase('xbt_seeders') }}
      </span>
      <span class="bbCodeTorrent-leechers">
        <i class="fa fa-arrow-down"></i> {$info.leechers} {{ phrase('xbt_leechers') }}
      </span>
      <span class="bbCodeTorrent-completed">
        <i class="fa fa-check"></i> {$info.completed} {{ phrase('xbt_completed') }}
      </span>
      <span class="bbCodeTorrent-size">
        <i class="fa fa-hdd-o"></i> {$info.size|file_size}
      </span>
    </div>
    <div class="bbCodeTorrent-action">
      <a href="{{ link('tracker/download', {'info_hash': $info.info_hash}) }}" class="button button--icon button--icon--download">
        <span class="button-text">{{ phrase('download') }}</span>
      </a>
    </div>
  </div>
<xf:else />
  <!-- عرض تفصيلي للتورنت -->
  <div class="bbCodeTorrent">
    <div class="bbCodeTorrent-info">
      <div class="bbCodeTorrent-title">{$info.name}</div>
      <div class="bbCodeTorrent-details">
        <div class="bbCodeTorrent-stats">
          <span class="bbCodeTorrent-seeders">
            <i class="fa fa-arrow-up"></i> {$info.seeders} {{ phrase('xbt_seeders') }}
          </span>
          <span class="bbCodeTorrent-leechers">
            <i class="fa fa-arrow-down"></i> {$info.leechers} {{ phrase('xbt_leechers') }}
          </span>
          <span class="bbCodeTorrent-completed">
            <i class="fa fa-check"></i> {$info.completed} {{ phrase('xbt_completed') }}
          </span>
          <span class="bbCodeTorrent-size">
            <i class="fa fa-hdd-o"></i> {$info.size|file_size}
          </span>
          <span class="bbCodeTorrent-date">
            <i class="fa fa-calendar"></i> {{ date_time($info.creation_date) }}
          </span>
        </div>
        <div class="bbCodeTorrent-hash">
          {{ phrase('xbt_info_hash') }}: {$info.info_hash}
        </div>
        <div class="bbCodeTorrent-links">
          <a href="{{ link('tracker/download', {'info_hash': $info.info_hash}) }}" class="button button--icon button--icon--download">
            <span class="button-text">{{ phrase('download') }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</xf:if>