<xf:title>{{ phrase('xbt_regenerate_passkey') }}</xf:title>

<xf:form action="{{ link('account/tracker/regenerate-passkey') }}" ajax="true" class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_regenerate_passkey') }}</h2>
        </div>
        <div class="block-body">
            <xf:formrow>
                <div class="blockMessage blockMessage--important">
                    {{ phrase('xbt_regenerate_passkey_warning') }}
                </div>
                <p>{{ phrase('xbt_regenerate_passkey_explanation') }}</p>
            </xf:formrow>
        </div>
        <div class="block-footer">
            <span class="block-footer-controls">
                <xf:button class="button--primary" type="submit">
                    {{ phrase('xbt_regenerate_passkey') }}
                </xf:button>
                <xf:button class="button--link" href="{{ link('account/tracker') }}">
                    {{ phrase('cancel') }}
                </xf:button>
            </span>
        </div>
    </div>
</xf:form>