<!-- admin:xbt_admin_user_stats_reset_passkey -->
<xf:title>{{ phrase('xbt_reset_passkey') }}: {$userStats.User.username}</xf:title>

<xf:form action="{{ link('torrents/user-stats/reset-passkey', $userStats) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">
                {{ phrase('xbt_reset_passkey_confirmation', {'username': $userStats.User.username}) }}
            </div>
            
            <div class="block-row">
                <div class="blockMessage blockMessage--warning blockMessage--iconic">
                    {{ phrase('xbt_reset_passkey_warning') }}
                </div>
            </div>
            
            <xf:if is="{{ $userStats.active_seeds > 0 || $userStats.active_leech > 0 }}">
                <div class="block-row">
                    <div class="blockMessage blockMessage--error blockMessage--iconic">
                        {{ phrase('xbt_reset_passkey_active_warning', {'seeds': $userStats.active_seeds, 'leech': $userStats.active_leech}) }}
                    </div>
                </div>
            </xf:if>
            
            <div class="block-row">
                <dl class="pairs pairs--columns">
                    <dt>{{ phrase('current_passkey') }}</dt>
                    <dd><code>{$userStats.passkey}</code></dd>
                </dl>
            </div>
        </div>
        
        <xf:submitrow icon="refresh" submit="{{ phrase('xbt_reset_passkey') }}" />
    </div>
    
    <xf:redirect url="{{ link('torrents/user-stats') }}" />
</xf:form>