<xf:title>{{ phrase('xbt_torrents') }}</xf:title>

<xf:breadcrumb href="{{ link('tracker/torrents') }}">{{ phrase('xbt_torrents') }}</xf:breadcrumb>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_torrents') }}</h2>
        </div>
        <div class="block-body">
            <xf:if is="$torrents|count">
                <div class="structItemContainer">
                    <xf:foreach loop="$torrents" value="$torrent">
                        <div class="structItem">
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    {$torrent.name}
                                </div>
                                <div class="structItem-minor">
                                    {{ phrase('xbt_info_hash') }}: {$torrent.info_hash|substring(0, 16)}...
                                    <span class="structItem-minor-detail">
                                        {{ phrase('xbt_added') }}: {$torrent.added|date_time}
                                    </span>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--meta">
                                <dl class="pairs pairs--inline">
                                    <dt>{{ phrase('xbt_seeders') }}</dt>
                                    <dd>{$torrent.seeders}</dd>
                                </dl>
                                <dl class="pairs pairs--inline">
                                    <dt>{{ phrase('xbt_leechers') }}</dt>
                                    <dd>{$torrent.leechers}</dd>
                                </dl>
                                <dl class="pairs pairs--inline">
                                    <dt>{{ phrase('xbt_completed') }}</dt>
                                    <dd>{$torrent.completed}</dd>
                                </dl>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
                
                <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="tracker/torrents" wrapperclass="block-outer block-outer--after" />
            <xf:else />
                <div class="block-row">{{ phrase('xbt_no_torrents') }}</div>
            </xf:if>
        </div>
    </div>
</div>