<xf:if is="$display_style == 'simple'">
  <!-- عرض بسيط للتورنت -->
  <div class="xbtTorrentBbCode xbtTorrentBbCode--simple">
    <div class="xbtTorrentBbCode-header">
      <span class="xbtTorrentBbCode-title">
        <a href="{{ link('torrents', {'torrent_id': $info.torrent_id}) }}">{$info.name}</a>
      </span>
    </div>
    <div class="xbtTorrentBbCode-stats">
      <ul class="xbtTorrentBbCode-statsList">
        <li>
          <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_size') }}:</span>
          <span class="xbtTorrentBbCode-statsValue">{{ $info.size|file_size }}</span>
        </li>
        <li>
          <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_seeders') }}:</span>
          <span class="xbtTorrentBbCode-statsValue">{$info.seeders}</span>
        </li>
        <li>
          <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_leechers') }}:</span>
          <span class="xbtTorrentBbCode-statsValue">{$info.leechers}</span>
        </li>
        <li>
          <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_snatches') }}:</span>
          <span class="xbtTorrentBbCode-statsValue">{$info.completed}</span>
        </li>
      </ul>
    </div>
    <div class="xbtTorrentBbCode-action">
      <a href="{{ link('torrents/download', {'torrent_id': $info.torrent_id}) }}" class="button button--primary">
        <i class="fa fa-download" aria-hidden="true"></i> {{ phrase('xbt_download_torrent') }}
      </a>
    </div>
  </div>
<xf:else />
  <!-- عرض تفصيلي للتورنت -->
  <div class="xbtTorrentBbCode xbtTorrentBbCode--full">
    <div class="xbtTorrentBbCode-header">
      <span class="xbtTorrentBbCode-title">
        <a href="{{ link('torrents', {'torrent_id': $info.torrent_id}) }}">{$info.name}</a>
      </span>
      <span class="xbtTorrentBbCode-date">{{ phrase('xbt_uploaded_on') }}: {{ date_time($info.creation_date) }}</span>
    </div>
    <div class="xbtTorrentBbCode-content">
      <div class="xbtTorrentBbCode-stats">
        <ul class="xbtTorrentBbCode-statsList">
          <li>
            <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_size') }}:</span>
            <span class="xbtTorrentBbCode-statsValue">{{ $info.size|file_size }}</span>
          </li>
          <li>
            <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_seeders') }}:</span>
            <span class="xbtTorrentBbCode-statsValue">{$info.seeders}</span>
          </li>
          <li>
            <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_leechers') }}:</span>
            <span class="xbtTorrentBbCode-statsValue">{$info.leechers}</span>
          </li>
          <li>
            <span class="xbtTorrentBbCode-statsLabel">{{ phrase('xbt_snatches') }}:</span>
            <span class="xbtTorrentBbCode-statsValue">{$info.completed}</span>
          </li>
          <li>
            <span class="xbtTorrentBbCode-statsLabel">{{ phrase('info_hash') }}:</span>
            <span class="xbtTorrentBbCode-statsValue">{$info.info_hash}</span>
          </li>
        </ul>
      </div>
      <div class="xbtTorrentBbCode-action">
        <a href="{{ link('torrents/download', {'torrent_id': $info.torrent_id}) }}" class="button button--primary">
          <i class="fa fa-download" aria-hidden="true"></i> {{ phrase('xbt_download_torrent') }}
        </a>
      </div>
    </div>
  </div>
</xf:if>