<!-- public:xbt_forum_torrents -->
<xf:title>{{ phrase('xbt_torrents') }}: {$forum.title}</xf:title>

<xf:breadcrumb source="$breadcrumb" />

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h1 class="block-header-title">{$category.title}</h1>
            <div class="block-header-actions">
                <xf:if is="{{ \XF::visitor()->hasPermission('xbtTracker', 'upload') }}">
                    <xf:button href="{{ link('torrents/upload', null, {'category_id': $category.category_id}) }}" icon="add">{{ phrase('upload_torrent') }}</xf:button>
                </xf:if>
            </div>
        </div>
        <div class="block-body">
            <xf:if is="{{ $torrents is empty }}">
                <div class="block-row">{{ phrase('xbt_no_torrents_found') }}</div>
            <xf:else />
                <div class="structItemContainer">
                    <xf:foreach loop="$torrents" value="$torrent">
                        <div class="structItem structItem--torrent">
                            <div class="structItem-cell structItem-cell--icon">
                                <div class="structItem-iconContainer">
                                    <a href="{{ link('torrents', $torrent) }}">
                                        <img src="{{ $torrent.poster_url }}" alt="{$torrent.title}" class="structItem-poster" />
                                    </a>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    <a href="{{ link('torrents', $torrent) }}">{$torrent.title}</a>
                                    <xf:if is="{{ $torrent.is_freeleech }}">
                                        <span class="label label--primary">{{ phrase('xbt_freeleech') }}</span>
                                    </xf:if>
                                </div>
                                <div class="structItem-minor">
                                    <ul class="structItem-parts">
                                        <li>{{ phrase('uploaded_by', { 'name': $torrent.User.username, 'link': link('members', $torrent.User) }) }}</li>
                                        <li>{{ phrase('xbt_uploaded_on', { 'date': date_time($torrent.creation_date) }) }}</li>
                                    </ul>
                                    <ul class="structItem-parts structItem-parts--torrentTags">
                                        <xf:if is="{{ $torrent.video_quality }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.video_quality_badge.class}">
                                                    <i class="fa {$torrent.video_quality_badge.icon}"></i>
                                                    {$torrent.video_quality_badge.text}
                                                </span>
                                            </li>
                                        </xf:if>
                                        <xf:if is="{{ $torrent.audio_format }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.audio_format_badge.class}">
                                                    <i class="fa {$torrent.audio_format_badge.icon}"></i>
                                                    {$torrent.audio_format_badge.text}
                                                </span>
                                            </li>
                                        </xf:if>
                                        <xf:if is="{{ $torrent.audio_channels }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.audio_channels_badge.class}">
                                                    <i class="fa fa-volume-up"></i>
                                                    {$torrent.audio_channels}
                                                </span>
                                            </li>
                                        </xf:if>
                                    </ul>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--stats">
                                <div class="structItem-statuses">
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_size') }}</dt>
                                        <dd>{$torrent.size_formatted}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_seeders') }}</dt>
                                        <dd class="pairs-value--{$torrent.seeders ? 'seeders' : 'noSeeders'}">{$torrent.seeders}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_leechers') }}</dt>
                                        <dd>{$torrent.leechers}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_completed') }}</dt>
                                        <dd>{$torrent.completed}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--download">
                                <xf:if is="{{ \XF::visitor()->hasPermission('xbtTracker', 'download') }}">
                                    <xf:button href="{{ link('torrents', $torrent, {'download': 1}) }}" icon="download" overlay="false" class="button--download">
                                        {{ phrase('download') }}
                                    </xf:button>
                                </xf:if>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
            </xf:if>
        </div>
        
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" 
                    link="forums/torrents" 
                    params="{{'forum_id': $forum.node_id, 'category_id': $category.category_id}}" />
    </div>
</div>
