<!-- public:xbt_tmdb_info -->
<xf:title>{{ phrase('xbt_tmdb_information') }}: {$info.title}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{$info.title} <xf:if is="!empty($info.release_date)">({{ date($info.release_date, 'Y') }})</xf:if></h2>
        </div>
        
        <div class="block-body">
            <div class="tmdbInfo">
                <div class="tmdbInfo-main">
                    <div class="tmdbInfo-poster">
                        <xf:if is="!empty($info.poster_path)">
                            <img src="https://image.tmdb.org/t/p/w300{$info.poster_path}" alt="{$info.title}" class="tmdbInfo-posterImage" />
                        <xf:else />
                            <div class="tmdbInfo-posterPlaceholder"></div>
                        </xf:if>
                    </div>
                    
                    <div class="tmdbInfo-content">
                        <div class="tmdbInfo-overview">
                            <xf:if is="!empty($info.overview)">
                                <p>{$info.overview}</p>
                            <xf:else />
                                <p>{{ phrase('xbt_no_overview_available') }}</p>
                            </xf:if>
                        </div>
                        
                        <div class="tmdbInfo-details">
                            <dl class="pairs pairs--columns pairs--fixedSmall">
                                <dt>TMDB ID</dt>
                                <dd>{$info.id}</dd>
                                
                                <xf:if is="!empty($info.release_date)">
                                    <dt>{{ phrase('xbt_release_date') }}</dt>
                                    <dd>{$info.release_date}</dd>
                                </xf:if>
                                
                                <xf:if is="!empty($info.runtime)">
                                    <dt>{{ phrase('xbt_runtime') }}</dt>
                                    <dd>
                                        <xf:if is="$info.runtime > 60">
                                            {{ floor($info.runtime / 60) }}h {{ $info.runtime % 60 }}m
                                        <xf:else />
                                            {$info.runtime}m
                                        </xf:if>
                                    </dd>
                                </xf:if>
                                
                                <xf:if is="!empty($info.vote_average)">
                                    <dt>{{ phrase('xbt_vote_average') }}</dt>
                                    <dd>{$info.vote_average}/10</dd>
                                </xf:if>
                                
                                <xf:if is="!empty($info.original_language)">
                                    <dt>{{ phrase('xbt_original_language') }}</dt>
                                    <dd>{$info.original_language}</dd>
                                </xf:if>
                                
                                <xf:if is="!empty($info.genres)">
                                    <dt>{{ phrase('xbt_genres') }}</dt>
                                    <dd>
                                        <xf:foreach loop="$info.genres" value="$genre">
                                            <span class="tmdbInfo-genre">{$genre.name}</span>
                                        </xf:foreach>
                                    </dd>
                                </xf:if>
                            </dl>
                        </div>
                    </div>
                </div>
                
                <xf:if is="!empty($info.backdrop_path)">
                    <div class="tmdbInfo-backdrop">
                        <img src="https://image.tmdb.org/t/p/w1280{$info.backdrop_path}" alt="{$info.title}" class="tmdbInfo-backdropImage" />
                    </div>
                </xf:if>
                
                <xf:if is="!empty($info.credits.cast)">
                    <h3 class="block-formSectionHeader">{{ phrase('xbt_cast') }}</h3>
                    <div class="tmdbInfo-cast">
                        <xf:foreach loop="$info.credits.cast" key="$i" value="$actor">
                            <xf:if is="$i < 15">
                                <div class="tmdbInfo-castMember">
                                    <xf:if is="!empty($actor.profile_path)">
                                        <div class="tmdbInfo-castPhoto">
                                            <img src="https://image.tmdb.org/t/p/w92{$actor.profile_path}" alt="{$actor.name}" />
                                        </div>
                                    <xf:else />
                                        <div class="tmdbInfo-castPhoto tmdbInfo-castPhoto--placeholder">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </xf:if>
                                    <div class="tmdbInfo-castInfo">
                                        <div class="tmdbInfo-castName">{$actor.name}</div>
                                        <xf:if is="!empty($actor.character)">
                                            <div class="tmdbInfo-castCharacter">{$actor.character}</div>
                                        </xf:if>
                                    </div>
                                </div>
                            </xf:if>
                        </xf:foreach>
                    </div>
                </xf:if>
                
                <xf:if is="!empty($info.credits.crew)">
                    <h3 class="block-formSectionHeader">{{ phrase('xbt_crew') }}</h3>
                    <div class="tmdbInfo-crew">
                        <xf:foreach loop="$info.credits.crew" key="$i" value="$crewMember">
                            <xf:if is="$i < 10">
                                <div class="tmdbInfo-crewMember">
                                    <xf:if is="!empty($crewMember.profile_path)">
                                        <div class="tmdbInfo-crewPhoto">
                                            <img src="https://image.tmdb.org/t/p/w92{$crewMember.profile_path}" alt="{$crewMember.name}" />
                                        </div>
                                    <xf:else />
                                        <div class="tmdbInfo-crewPhoto tmdbInfo-crewPhoto--placeholder">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </xf:if>
                                    <div class="tmdbInfo-crewInfo">
                                        <div class="tmdbInfo-crewName">{$crewMember.name}</div>
                                        <xf:if is="!empty($crewMember.job)">
                                            <div class="tmdbInfo-crewJob">{$crewMember.job}</div>
                                        </xf:if>
                                    </div>
                                </div>
                            </xf:if>
                        </xf:foreach>
                    </div>
                </xf:if>
            </div>
        </div>
        
        <div class="block-footer">
            <div class="block-footer-actions">
                <xf:button data-xf-click="tmdb-select" data-id="{$info.id}" data-type="{$type}" data-title="{$info.title}" class="button--primary">
                    {{ phrase('select_for_torrent') }}
                </xf:button>
            </div>
        </div>
    </div>
</div>

<xf:js>
XF.TmdbSelect = XF.Element.newHandler({
    options: {
        id: null,
        type: 'movie',
        title: ''
    },
    
    init: function() {
        this.$target.on('click', XF.proxy(this, 'selectTmdb'));
    },
    
    selectTmdb: function() {
        XF.parent.postMessage({
            tmdbId: this.options.id,
            tmdbType: this.options.type,
            tmdbTitle: this.options.title
        }, window.location.origin);
        
        XF.overlayHandler.close();
        return false;
    }
});

XF.Element.register('tmdb-select', 'XF.TmdbSelect');
</xf:js>