<!-- public:xbt_torrent_view -->
<xf:title>{$torrent.title}</xf:title>

<xf:breadcrumb source="$breadcrumb" />

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h1 class="block-header-title">{$torrent.title}</h1>
            <div class="block-header-actions">
                <xf:if is="$canDownload">
                    <xf:button href="{{ link('torrents', $torrent, {'download': 1}) }}" icon="download" overlay="false" class="button--primary">
                        {{ phrase('download') }}
                    </xf:button>
                <xf:else />
                    <xf:button icon="download" overlay="false" class="button--primary" disabled="true">
                        {{ phrase('download') }}
                    </xf:button>
                    <xf:foreach loop="$downloadReasons" value="$reason">
                        <div class="blockStatus blockStatus--error">
                            {$reason}
                        </div>
                    </xf:foreach>
                </xf:if>
            </div>
        </div>
        
        <div class="block-body">
            <div class="torrentView">
                <div class="torrentView-main">
                    <div class="torrentView-poster">
                        <img src="{{ $torrent.poster_url }}" alt="{$torrent.title}" class="torrentView-posterImage" />
                    </div>
                    
                    <div class="torrentView-content">
                        <div class="torrentView-details">
                            <dl class="pairs pairs--columns pairs--fixedSmall">
                                <dt>{{ phrase('xbt_category') }}</dt>
                                <dd>
                                    <a href="{{ link('torrents', null, {'category_id': $torrent.category_id}) }}">{$torrent.Category.title}</a>
                                </dd>
                                
                                <dt>{{ phrase('xbt_uploaded_by') }}</dt>
                                <dd>
                                    <xf:username user="$torrent.User" />
                                </dd>
                                
                                <dt>{{ phrase('xbt_uploaded_on') }}</dt>
                                <dd>
                                    {{ date_time($torrent.creation_date) }}
                                </dd>
                                
                                <dt>{{ phrase('xbt_size') }}</dt>
                                <dd>
                                    {$torrent.size_formatted}
                                </dd>
                                
                                <dt>{{ phrase('xbt_seeders') }}</dt>
                                <dd class="pairs-value--{$torrent.seeders ? 'seeders' : 'noSeeders'}">
                                    {$torrent.seeders}
                                </dd>
                                
                                <dt>{{ phrase('xbt_leechers') }}</dt>
                                <dd>
                                    {$torrent.leechers}
                                </dd>
                                
                                <dt>{{ phrase('xbt_completed') }}</dt>
                                <dd>
                                    {$torrent.completed}
                                </dd>
                                
                                <xf:if is="$torrent.video_quality">
                                    <dt>{{ phrase('xbt_quality') }}</dt>
                                    <dd>
                                        <span class="labelTorrent labelTorrent--{$torrent.video_quality_badge.class}">
                                            <i class="fa {$torrent.video_quality_badge.icon}"></i>
                                            {$torrent.video_quality_badge.text}
                                        </span>
                                    </dd>
                                </xf:if>
                                
                                <xf:if is="$torrent.audio_format">
                                    <dt>{{ phrase('xbt_audio') }}</dt>
                                    <dd>
                                        <span class="labelTorrent labelTorrent--{$torrent.audio_format_badge.class}">
                                            <i class="fa {$torrent.audio_format_badge.icon}"></i>
                                            {$torrent.audio_format_badge.text}
                                        </span>
                                    </dd>
                                </xf:if>
                                
                                <xf:if is="$torrent.audio_channels">
                                    <dt>{{ phrase('xbt_channels') }}</dt>
                                    <dd>
                                        <span class="labelTorrent labelTorrent--{$torrent.audio_channels_badge.class}">
                                            <i class="fa fa-volume-up"></i>
                                            {$torrent.audio_channels}
                                        </span>
                                    </dd>
                                </xf:if>
                                
                                <xf:if is="$torrent.is_freeleech">
                                    <dt>{{ phrase('xbt_freeleech') }}</dt>
                                    <dd>
                                        <span class="label label--primary">{{ phrase('yes') }}</span>
                                    </dd>
                                </xf:if>
                            </dl>
                        </div>
                        
                        <div class="torrentView-description">
                            <div class="bbWrapper">
                                {$torrent.description|raw}
                            </div>
                        </div>
                    </div>
                </div>
                
                <xf:if is="$torrent.tmdb_id && $torrent.TmdbData">
                    <!-- TMDB Information -->
                    <div class="torrentView-tmdb">
                        <h3 class="block-formSectionHeader">{{ phrase('xbt_tmdb_information') }}</h3>
                        
                        <div class="torrentView-tmdbContent">
                            <div class="torrentView-tmdbPoster">
                                <xf:if is="$torrent.TmdbData.poster_url">
                                    <img src="{{ $torrent.TmdbData.poster_url }}" alt="{{ $torrent.TmdbData.display_title }}" class="torrentView-tmdbPosterImage" />
                                </xf:if>
                            </div>
                            
                            <div class="torrentView-tmdbDetails">
                                <h3>{{ $torrent.TmdbData.display_title }}</h3>
                                
                                <div class="torrentView-tmdbOverview">
                                    <p>{{ $torrent.TmdbData.overview }}</p>
                                </div>
                                
                                <dl class="pairs pairs--columns pairs--fixedSmall">
                                    <xf:if is="$torrent.TmdbData.release_date">
                                        <dt>{{ phrase('xbt_release_date') }}</dt>
                                        <dd>{{ $torrent.TmdbData.release_date }}</dd>
                                    </xf:if>
                                    
                                    <xf:if is="$torrent.TmdbData.vote_average">
                                        <dt>{{ phrase('xbt_vote_average') }}</dt>
                                        <dd>{{ $torrent.TmdbData.vote_average }}/10</dd>
                                    </xf:if>
                                </dl>
                                
                                <xf:if is="!empty($torrent.TmdbData.cast)">
                                    <h4>{{ phrase('xbt_cast') }}</h4>
                                    <div class="torrentView-tmdbCast">
                                        <xf:foreach loop="$torrent.TmdbData.cast" value="$actor">
                                            <div class="torrentView-tmdbCastMember">
                                                <div class="torrentView-tmdbCastName">{$actor.name}</div>
                                                <xf:if is="!empty($actor.character)">
                                                    <div class="torrentView-tmdbCastCharacter">{$actor.character}</div>
                                                </xf:if>
                                            </div>
                                        </xf:foreach>
                                    </div>
                                </xf:if>
                                
                                <xf:if is="!empty($torrent.TmdbData.crew)">
                                    <h4>{{ phrase('xbt_crew') }}</h4>
                                    <div class="torrentView-tmdbCrew">
                                        <xf:foreach loop="$torrent.TmdbData.crew" value="$crewMember">
                                            <div class="torrentView-tmdbCrewMember">
                                                <div class="torrentView-tmdbCrewName">{$crewMember.name}</div>
                                                <xf:if is="!empty($crewMember.job)">
                                                    <div class="torrentView-tmdbCrewJob">{$crewMember.job}</div>
                                                </xf:if>
                                            </div>
                                        </xf:foreach>
                                    </div>
                                </xf:if>
                            </div>
                        </div>
                    </div>
                </xf:if>
            </div>
        </div>
        
        <div class="block-outer block-outer--after">
            <div class="block-outer-middle">
                <xf:if is="$canDownload">
                    <xf:button href="{{ link('torrents', $torrent, {'download': 1}) }}" icon="download" overlay="false" class="button--primary">
                        {{ phrase('download') }}
                    </xf:button>
                </xf:if>
            </div>
            <div class="block-outer-opposite">
                <xf:if is="\XF::visitor()->hasPermission('xbtTracker', 'edit') && ($torrent.user_id == \XF::visitor()->user_id || \XF::visitor()->hasPermission('xbtTracker', 'moderateTorrents'))">
                    <xf:button href="{{ link('torrents/edit', $torrent) }}" icon="edit">{{ phrase('edit') }}</xf:button>
                </xf:if>
                <xf:if is="\XF::visitor()->hasPermission('xbtTracker', 'delete') && ($torrent.user_id == \XF::visitor()->user_id || \XF::visitor()->hasPermission('xbtTracker', 'moderateTorrents'))">
                    <xf:button href="{{ link('torrents/delete', $torrent) }}" icon="delete">{{ phrase('delete') }}</xf:button>
                </xf:if>
            </div>
        </div>
    </div>
</div>