<!-- public:xbt_widget_latest_torrents -->
<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h3 class="block-header-title">{{ phrase('xbt_latest_torrents') }}</h3>
            <div class="block-header-actions">
                <a href="{{ link('torrents') }}" class="block-header-link">{{ phrase('view_all') }}</a>
            </div>
        </div>
        <div class="block-body">
            <xf:if is="$torrents is empty">
                <div class="block-row">{{ phrase('xbt_no_torrents_found') }}</div>
            <xf:else />
                <div class="structItemContainer">
                    <xf:foreach loop="$torrents" value="$torrent">
                        <div class="structItem structItem--torrent">
                            <div class="structItem-cell structItem-cell--icon">
                                <div class="structItem-iconContainer">
                                    <a href="{{ link('torrents', $torrent) }}">
                                        <img src="{{ $torrent.poster_url }}" alt="{$torrent.title}" class="structItem-poster structItem-poster--small" />
                                    </a>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    <a href="{{ link('torrents', $torrent) }}">{$torrent.title}</a>
                                    <xf:if is="$torrent.is_freeleech">
                                        <span class="label label--primary">{{ phrase('xbt_freeleech') }}</span>
                                    </xf:if>
                                </div>
                                <div class="structItem-minor">
                                    <ul class="structItem-parts">
                                        <li>{{ phrase('xbt_size') }}: {$torrent.size_formatted}</li>
                                        <li>{{ phrase('xbt_seeders') }}: {$torrent.seeders}</li>
                                        <li>{{ phrase('xbt_leechers') }}: {$torrent.leechers}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
            </xf:if>
        </div>
        <div class="block-footer">
            <a href="{{ link('torrents') }}" class="block-footer-link">{{ phrase('view_all_torrents') }}</a>
        </div>
    </div>
</div>