<!-- public:xbt_torrent_delete -->
<xf:title>{{ phrase('delete_torrent') }}: {$torrent.title}</xf:title>

<xf:breadcrumb href="{{ link('torrents') }}">{{ phrase('xbt_torrents') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('torrents', $torrent) }}">{$torrent.title}</xf:breadcrumb>
<xf:breadcrumb>{{ phrase('delete') }}</xf:breadcrumb>

<xf:form action="{{ link('torrents/delete', $torrent) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">
                {{ phrase('xbt_delete_torrent_confirmation', {'title': $torrent.title}) }}
            </div>
            
            <xf:if is="$torrent.seeders > 0 || $torrent.leechers > 0">
                <div class="block-row block-row--warning">
                    {{ phrase('xbt_delete_torrent_has_peers_warning', {
                        'seeders': $torrent.seeders,
                        'leechers': $torrent.leechers
                    }) }}
                </div>
            </xf:if>
        </div>
        
        <xf:submitrow icon="delete" submit="{{ phrase('delete') }}" />
    </div>
    
    <xf:redirect url="{{ link('torrents') }}" />
</xf:form>