<xf:title>{{ phrase('xbt_dashboard') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_tracker_stats') }}</h2>
        </div>
        <div class="block-body">
            <div class="pairJustifier">
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_tracker_stats') }}</dt>
                    <dd><xf:if is="$trackerStatus.connected">
                        <span class="text-success">{{ phrase('xbt_connected') }}</span>
                    <xf:else />
                        <span class="text-danger">{{ phrase('xbt_disconnected') }}</span>
                    </xf:if></dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_database') }}</dt>
                    <dd>{$trackerStatus.database}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_version') }}</dt>
                    <dd>{$trackerStatus.version}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_statistics') }}</h2>
        </div>
        <div class="block-body">
            <div class="pairJustifier">
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_total_torrents') }}</dt>
                    <dd>{$stats.total_torrents}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_total_peers') }}</dt>
                    <dd>{$stats.total_peers}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_total_seeders') }}</dt>
                    <dd>{$stats.total_seeders}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_total_leechers') }}</dt>
                    <dd>{$stats.total_leechers}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_users_with_passkeys') }}</dt>
                    <dd>{$stats.users_with_passkeys}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_downloaded_today') }}</dt>
                    <dd>{$stats.downloaded_today|file_size}</dd>
                </dl>
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_uploaded_today') }}</dt>
                    <dd>{$stats.uploaded_today|file_size}</dd>
                </dl>
            </div>
        </div>
        <div class="block-footer">
            <span class="block-footer-counter">{{ phrase('xbt_last_updated') }}: {$stats.last_updated|date_time}</span>
        </div>
    </div>
</div>