<!-- admin:xbt_user_edit_tab -->
<xf:formrow rowtype="input" label="{{ phrase('xbt_passkey') }}">
    <div class="inputGroup">
        <xf:textbox name="xbt_passkey" value="{$user.xbt_passkey}" readonly="true" />
        <span class="inputGroup-splitter"></span>
        <xf:button href="{{ link('users/generate-passkey', $user) }}" 
            icon="sync" 
            overlay="true">{{ phrase('xbt_generate_new') }}</xf:button>
    </div>
    <div class="formRow-explain">
        {{ phrase('xbt_passkey_admin_explain') }}
    </div>
</xf:formrow>

<xf:if is="$xbtUserStats">
    <hr class="formRowSep" />
    
    <xf:formrow label="{{ phrase('xbt_user_stats') }}">
        <div class="pairJustifier">
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('xbt_active_torrents') }}</dt>
                <dd>{$xbtUserStats.active_torrents}</dd>
            </dl>
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('xbt_uploaded') }}</dt>
                <dd>{$xbtUserStats.uploaded|file_size}</dd>
            </dl>
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('xbt_downloaded') }}</dt>
                <dd>{$xbtUserStats.downloaded|file_size}</dd>
            </dl>
            <xf:if is="$xbtUserStats.downloaded > 0">
                <dl class="pairs pairs--justified">
                    <dt>{{ phrase('xbt_ratio') }}</dt>
                    <dd>{$xbtUserStats.ratio|number(2)}</dd>
                </dl>
            </xf:if>
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('xbt_bonus_points') }}</dt>
                <dd>{$xbtUserStats.bonus_points|number(0)}</dd>
            </dl>
            <dl class="pairs pairs--justified">
                <dt>{{ phrase('xbt_warnings') }}</dt>
                <dd>{$xbtUserStats.warnings}</dd>
            </dl>
        </div>
        
        <div class="formRow-explain">
            <a href="{{ link('torrents/users/edit-stats', $user) }}" class="button" data-xf-click="overlay">
                {{ phrase('xbt_edit_user_stats') }}
            </a>
        </div>
    </xf:formrow>
    
    <xf:formrow label="{{ phrase('xbt_user_torrents') }}">
        <xf:if is="$userTorrents is not empty">
            <div class="block-body">
                <div class="dataList">
                    <div class="dataList-row dataList-row--header">
                        <div class="dataList-cell dataList-cell--main">{{ phrase('title') }}</div>
                        <div class="dataList-cell dataList-cell--meta">{{ phrase('category') }}</div>
                        <div class="dataList-cell dataList-cell--meta">{{ phrase('xbt_uploaded_on') }}</div>
                        <div class="dataList-cell dataList-cell--meta">{{ phrase('xbt_size') }}</div>
                        <div class="dataList-cell dataList-cell--action">{{ phrase('actions') }}</div>
                    </div>
                    
                    <xf:foreach loop="$userTorrents" value="$torrent">
                        <div class="dataList-row">
                            <div class="dataList-cell dataList-cell--main">
                                <a href="{{ link('torrents', $torrent) }}" target="_blank">{$torrent.title}</a>
                                <xf:if is="$torrent.is_freeleech">
                                    <span class="label label--primary">{{ phrase('xbt_freeleech') }}</span>
                                </xf:if>
                            </div>
                            <div class="dataList-cell dataList-cell--meta">{$torrent.Category.title}</div>
                            <div class="dataList-cell dataList-cell--meta">{{ date_time($torrent.creation_date) }}</div>
                            <div class="dataList-cell dataList-cell--meta">{$torrent.size_formatted}</div>
                            <div class="dataList-cell dataList-cell--action">
                                <a href="{{ link('torrents/torrent-edit', $torrent) }}" class="menu-linkRow"
                                   data-xf-click="overlay">{{ phrase('edit') }}</a>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
                
                <div class="block-footer">
                    <a href="{{ link('torrents/torrents', null, {'user_id': $user.user_id}) }}" class="button">
                        {{ phrase('view_all') }}
                    </a>
                </div>
            </div>
        <xf:else />
            <div class="blockMessage">{{ phrase('xbt_no_torrents_found') }}</div>
        </xf:if>
    </xf:formrow>
</xf:if>