<!-- admin:xbt_admin_categories -->
<xf:title>{phrase('xbt_manage_categories')}</xf:title>

<xf:pageaction>
    <xf:button href="{link('torrents/categories/add')}" icon="add">{phrase('xbt_add_category')}</xf:button>
</xf:pageaction>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{phrase('xbt_categories')}}</h2>
        </div>
        
        <xf:if is="$categories is empty">
            <div class="block-body block-row">{phrase('xbt_no_categories')}</div>
        <xf:else />
            <div class="block-body">
                <div class="block-row">
                    <div class="nestable-container" data-xf-init="nestable" data-type="category" data-url="{link('torrents/categories/reorder')}">
                        <ol class="nestable">
                            <xf:foreach loop="$categories" value="$category">
                                <xf:if is="$category.parent_id == 0">
                                    <li class="nestable-item" data-id="{$category.category_id}">
                                        <div class="nestable-handle" aria-label="{phrase('drag_handle')}"></div>
                                        <div class="nestable-content">
                                            <div class="nestable-cell">
                                                {$category.title}
                                                <xf:if is="$category.node_id">
                                                    <span class="label label--primary">{phrase('xbt_linked_to_forum', {'forum': link('forums/edit', {'node_id': $category.node_id}) })}</span>
                                                </xf:if>
                                            </div>
                                            <div class="nestable-cell nestable-cell--action">
                                                <a href="{link('torrents/categories/edit', $category)}" class="actionLink">{phrase('edit')}</a>
                                                <a href="{link('torrents/categories/delete', $category)}" class="actionLink" data-xf-click="overlay">{phrase('delete')}</a>
                                            </div>
                                        </div>
										<xf:if is="$category.Children">
                                            <ol class="nestable-children">
                                                <xf:foreach loop="$category.Children" value="$childCategory">
                                                    <li class="nestable-item" data-id="{$childCategory.category_id}">
                                                        <div class="nestable-handle" aria-label="{phrase('drag_handle')}"></div>
                                                        <div class="nestable-content">
                                                            <div class="nestable-cell">
                                                                {$childCategory.title}
                                                                <xf:if is="$childCategory.node_id">
                                                                    <span class="label label--primary">{phrase('xbt_linked_to_forum', {'forum': link('forums/edit', {'node_id': $childCategory.node_id}) })}</span>
                                                                </xf:if>
                                                            </div>
                                                            <div class="nestable-cell nestable-cell--action">
                                                                <a href="{link('torrents/categories/edit', $childCategory)}" class="actionLink">{phrase('edit')}</a>
                                                                <a href="{link('torrents/categories/delete', $childCategory)}" class="actionLink" data-xf-click="overlay">{phrase('delete')}</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </xf:foreach>
                                            </ol>
                                        </xf:if>
                                    </li>
                                </xf:if>
                            </xf:foreach>
                        </ol>
                    </div>
                </div>
            </div>
        </xf:if>
    </div>
</div>