<!-- admin:xbt_torrent_delete -->
<xf:title>{{ phrase('xbt_delete_torrent') }}: {$torrent.title}</xf:title>

<xf:form action="{{ link('torrents/torrent-delete', $torrent) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">
                {{ phrase('xbt_delete_torrent_confirm', {'name': $torrent.title}) }}
            </div>
            
            <xf:if is="$torrent.seeders > 0 || $torrent.leechers > 0">
                <div class="block-row block-row--warning">
                    {{ phrase('xbt_delete_torrent_has_peers_warning', {
                        'seeders': $torrent.seeders,
                        'leechers': $torrent.leechers
                    }) }}
                </div>
            </xf:if>
            
            <div class="block-row">
                <dl class="pairs pairs--columns">
                    <dt>{{ phrase('title') }}</dt>
                    <dd>{$torrent.title}</dd>
                    
                    <dt>{{ phrase('xbt_info_hash') }}</dt>
                    <dd><code>{$torrent.info_hash}</code></dd>
                    
                    <dt>{{ phrase('xbt_uploader') }}</dt>
                    <dd>
                        <xf:if is="$torrent.User">
                            <xf:username user="$torrent.User" />
                        <xf:else />
                            {{ phrase('unknown') }}
                        </xf:if>
                    </dd>
                    
                    <dt>{{ phrase('xbt_uploaded_on') }}</dt>
                    <dd>{{ date_time($torrent.creation_date) }}</dd>
                    
                    <dt>{{ phrase('category') }}</dt>
                    <dd>{$torrent.Category.title}</dd>
                    
                    <dt>{{ phrase('xbt_size') }}</dt>
                    <dd>{$torrent.size_formatted}</dd>
                    
                    <dt>{{ phrase('xbt_completed_downloads') }}</dt>
                    <dd>{$torrent.completed}</dd>
                </dl>
            </div>
            
            <xf:formrow label="{{ phrase('xbt_delete_options') }}:">
                <xf:checkbox>
                    <xf:option name="delete_file" value="1" checked="1" hint="{{ phrase('xbt_delete_torrent_file_explain') }}">
                        {{ phrase('xbt_delete_torrent_file') }}
                    </xf:option>
                    
                    <xf:option name="notify_uploader" value="1" hint="{{ phrase('xbt_notify_uploader_explain') }}">
                        {{ phrase('xbt_notify_uploader') }}
                    </xf:option>
                </xf:checkbox>
            </xf:formrow>
            
            <xf:formrow label="{{ phrase('reason') }}:">
                <xf:textbox name="reason" maxlength="250" />
                <div class="formRow-explain">{{ phrase('optional') }}</div>
            </xf:formrow>
            
            <xf:formrow>
                <xf:checkbox>
                    <xf:option name="confirm" value="1" required="required">
                        {{ phrase('confirm_action') }}
                    </xf:option>
                </xf:checkbox>
            </xf:formrow>
        </div>
        
        <xf:submitrow icon="delete" submit="{{ phrase('delete') }}" />
    </div>
    
    <xf:redirect url="{{ link('torrents/torrents') }}" />
</xf:form>