<!-- email:xbt_bonus_notification -->
<mail:subject>
{{ phrase('xbt_bonus_points_received') }}
</mail:subject>

<mail:body format="text">
{{ phrase('hello_x', {'name': $receiver.username}) }},

{{ phrase('xbt_bonus_notification_body_text', {'points': $points, 'reason': $reason}) }}

{{ phrase('xbt_bonus_total', {'total': $total}) }}

{{ phrase('xbt_bonus_notification_info_text') }}

{{ phrase('regards') }},
{{ phrase('board_title') }}
</mail:body>

<mail:body format="html">
<p>{{ phrase('hello_x', {'name': $receiver.username}) }},</p>

<p>{{ phrase('xbt_bonus_notification_body_html', {'points': $points, 'reason': $reason}) }}</p>

<p style="background-color: #F1F3F5; padding: 10px; border-radius: 5px;">
    {{ phrase('xbt_bonus_total', {'total': $total}) }}
</p>

<p>{{ phrase('xbt_bonus_notification_info_html') }}</p>

<ul>
    <li>{{ phrase('xbt_bonus_notification_use_1') }}</li>
    <li>{{ phrase('xbt_bonus_notification_use_2') }}</li>
    <li>{{ phrase('xbt_bonus_notification_use_3') }}</li>
</ul>

<p>
    <a href="{{ link('account/bonuses') }}" style="display: inline-block; background-color: #2577B1; color: #FFFFFF; padding: 5px 10px; border-radius: 3px; text-decoration: none;">
        {{ phrase('xbt_view_bonus_points') }}
    </a>
</p>

<p>
{{ phrase('regards') }},<br />
{{ phrase('board_title') }}
</p>
</mail:body>