<!-- email:xbt_hit_and_run_warning -->
<mail:subject>
{{ phrase('xbt_hit_and_run_warning_subject') }}
</mail:subject>

<mail:body format="text">
{{ phrase('hello_x', {'name': $receiver.username}) }},

{{ phrase('xbt_hit_and_run_warning_body_text', {'title': $title, 'link': $link, 'hours': $xf.options.xbtTrackerHitAndRunHours}) }}

{{ phrase('xbt_hit_and_run_warning_footer_text') }}

{{ phrase('regards') }},
{{ phrase('board_title') }}
</mail:body>

<mail:body format="html">
<p>{{ phrase('hello_x', {'name': $receiver.username}) }},</p>

<p>{{ phrase('xbt_hit_and_run_warning_body_html', {'title': '<a href="' ~ $link ~ '">' ~ $title ~ '</a>', 'hours': $xf.options.xbtTrackerHitAndRunHours}) }}</p>

<p style="border-left: 3px solid #D80000; padding: 3px 0 3px 10px; margin: 1em 0;">{{ phrase('xbt_hit_and_run_warning_note') }}</p>

<p>{{ phrase('xbt_hit_and_run_warning_info') }}</p>

<ul>
    <li>{{ phrase('xbt_hit_and_run_warning_info_1') }}</li>
    <li>{{ phrase('xbt_hit_and_run_warning_info_2', {'hours': $xf.options.xbtTrackerHitAndRunHours}) }}</li>
    <li>{{ phrase('xbt_hit_and_run_warning_info_3') }}</li>
</ul>

<p>{{ phrase('xbt_hit_and_run_warning_footer_html') }}</p>

<p>
{{ phrase('regards') }},<br />
{{ phrase('board_title') }}
</p>
</mail:body>