<xf:title>رفع تورنت جديد</xf:title>

<xf:form action="{{ link('torrents/upload') }}" method="post" ajax="true" enctype="multipart/form-data">
    <xf:textboxrow name="title" label="عنوان التورنت" required="true" />
    <xf:selectrow name="category_id" label="القسم" required="true">
        <xf:option value="1">أفلام</xf:option>
        <xf:option value="2">مسلسلات</xf:option>
    </xf:selectrow>
    <xf:fileupload name="torrent_file" label="ملف التورنت" required="true" accept=".torrent" />
    <xf:textboxrow name="poster_url" label="رابط البوستر" required="true" />
    <xf:selectrow name="video_type" label="نوع الفيديو" required="true">
        <xf:option value="1080p">1080p</xf:option>
        <xf:option value="720p">720p</xf:option>
        <xf:option value="4K">4K</xf:option>
    </xf:selectrow>
    <xf:selectrow name="audio_type" label="نوع الصوت" required="true">
        <xf:option value="AAC">AAC</xf:option>
        <xf:option value="DTS">DTS</xf:option>
        <xf:option value="AC3">AC3</xf:option>
    </xf:selectrow>
    <xf:textboxrow name="audio_channels" label="القنوات الصوتية" required="true" placeholder="مثال: 5.1" />
    <xf:textboxrow name="tmdb_link" label="رابط TMDB" />
    <xf:submitrow submit="رفع التورنت" />
</xf:form>