<!-- admin:xbt_admin_dashboard -->
<xf:title>{{ phrase('xbt_tracker_dashboard') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_tracker_status') }}</h2>
        </div>
        <div class="block-body">
            <xf:if is="{{ $trackerStatus == 'online' }}">
                <div class="block-row">
                    <div class="trackerStatus trackerStatus--online">
                        <i class="fa fa-check-circle"></i> {{ phrase('xbt_tracker_status') }}: {{ phrase('online') }}
                    </div>
                </div>
            <xf:else />
                <div class="block-row">
                    <div class="trackerStatus trackerStatus--offline">
                        <i class="fa fa-times-circle"></i> {{ phrase('xbt_tracker_status') }}: {{ phrase('offline') }}
                    </div>
                    <div class="blockMessage blockMessage--error blockMessage--iconic">
                        {{ phrase('xbt_tracker_offline_warning', {'url': $announceUrl}) }}
                    </div>
                </div>
            </xf:if>
            
            <div class="block-row">
                <dl class="pairs pairs--columns">
                    <dt>{{ phrase('xbt_tracker_announce_url') }}</dt>
                    <dd><code>{$announceUrl}</code></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_tracker_stats') }}</h2>
        </div>
        <div class="block-body">
            <div class="block-row">
                <div class="trackerStatBoxes">
                    <div class="trackerStatBox trackerStatBox--torrents">
                        <div class="trackerStatBox-icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="trackerStatBox-content">
                            <div class="trackerStatBox-value">{$trackerStats.total_torrents}</div>
                            <div class="trackerStatBox-label">{{ phrase('xbt_torrents') }}</div>
                        </div>
                    </div>
                    
                    <div class="trackerStatBox trackerStatBox--seeders">
                        <div class="trackerStatBox-icon">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div class="trackerStatBox-content">
                            <div class="trackerStatBox-value">{$trackerStats.total_seeders}</div>
                            <div class="trackerStatBox-label">{{ phrase('xbt_seeders') }}</div>
                        </div>
                    </div>
                    
                    <div class="trackerStatBox trackerStatBox--leechers">
                        <div class="trackerStatBox-icon">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                        <div class="trackerStatBox-content">
                            <div class="trackerStatBox-value">{$trackerStats.total_leechers}</div>
                            <div class="trackerStatBox-label">{{ phrase('xbt_leechers') }}</div>
                        </div>
                    </div>
                    
                    <div class="trackerStatBox trackerStatBox--peers">
                        <div class="trackerStatBox-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="trackerStatBox-content">
                            <div class="trackerStatBox-value">{$trackerStats.total_peers}</div>
                            <div class="trackerStatBox-label">{{ phrase('xbt_peers') }}</div>
                        </div>
                    </div>
                    
                    <div class="trackerStatBox trackerStatBox--snatches">
                        <div class="trackerStatBox-icon">
                            <i class="fa fa-download"></i>
                        </div>
                        <div class="trackerStatBox-content">
                            <div class="trackerStatBox-value">{$trackerStats.total_snatches}</div>
                            <div class="trackerStatBox-label">{{ phrase('xbt_snatches') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blocks">
    <div class="blocks-row blocks-row--sidebar">
        <div class="blocks-column blocks-column--main">
            <div class="block">
                <div class="block-container">
                    <div class="block-header">
                        <h2 class="block-header-title">{{ phrase('xbt_tracker_navigation') }}</h2>
                    </div>
                    <div class="block-body">
                        <div class="block-row">
                            <div class="trackerNavBoxes">
                                <div class="trackerNavBox">
                                    <a href="{{ link('torrents/torrents') }}" class="trackerNavBox-link">
                                        <div class="trackerNavBox-icon">
                                            <i class="fa fa-list"></i>
                                        </div>
                                        <div class="trackerNavBox-title">{{ phrase('xbt_manage_torrents') }}</div>
                                        <div class="trackerNavBox-description">{{ phrase('xbt_manage_torrents_description') }}</div>
                                    </a>
                                </div>
                                
                                <div class="trackerNavBox">
                                    <a href="{{ link('torrents/categories') }}" class="trackerNavBox-link">
                                        <div class="trackerNavBox-icon">
                                            <i class="fa fa-folder"></i>
                                        </div>
                                        <div class="trackerNavBox-title">{{ phrase('xbt_manage_categories') }}</div>
                                        <div class="trackerNavBox-description">{{ phrase('xbt_manage_categories_description') }}</div>
                                    </a>
                                </div>
                                
                                <div class="trackerNavBox">
                                    <a href="{{ link('torrents/user-stats') }}" class="trackerNavBox-link">
                                        <div class="trackerNavBox-icon">
                                            <i class="fa fa-user-chart"></i>
                                        </div>
                                        <div class="trackerNavBox-title">{{ phrase('xbt_manage_user_stats') }}</div>
                                        <div class="trackerNavBox-description">{{ phrase('xbt_manage_user_stats_description') }}</div>
                                    </a>
                                </div>
                                
                                <div class="trackerNavBox">
                                    <a href="{{ link('options/groups', null, {'group_id': 'xbtTracker'}) }}" class="trackerNavBox-link">
                                        <div class="trackerNavBox-icon">
                                            <i class="fa fa-cog"></i>
                                        </div>
                                        <div class="trackerNavBox-title">{{ phrase('xbt_tracker_options') }}</div>
                                        <div class="trackerNavBox-description">{{ phrase('xbt_tracker_options_description') }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="blocks-column blocks-column--sidebar">
            <div class="block">
                <div class="block-container">
                    <div class="block-header">
                        <h2 class="block-header-title">{{ phrase('xbt_tracker_quick_actions') }}</h2>
                    </div>
                    <div class="block-body">
                        <div class="block-row">
                            <div class="buttonGroup buttonGroup--block">
                                <a href="{{ link('torrents/torrents', null, {'filter': 'freeleech'}) }}" class="button button--block">
                                    <span class="button-text">{{ phrase('xbt_view_freeleech_torrents') }}</span>
                                </a>
                                <a href="{{ link('torrents/torrents', null, {'filter': 'dead'}) }}" class="button button--block">
                                    <span class="button-text">{{ phrase('xbt_view_dead_torrents') }}</span>
                                </a>
                                <a href="{{ link('torrents/categories/add') }}" class="button button--block">
                                    <span class="button-text">{{ phrase('xbt_add_category') }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block">
                <div class="block-container">
                    <div class="block-header">
                        <h2 class="block-header-title">{{ phrase('xbt_tracker_information') }}</h2>
                    </div>
                    <div class="block-body">
                        <div class="block-row">
                            <dl class="pairs pairs--columns">
                                <dt>{{ phrase('xbt_torrent_path') }}</dt>
                                <dd>{$xf.options.xbtTrackerTorrentPath}</dd>
                                
                                <dt>{{ phrase('xbt_required_ratio') }}</dt>
                                <dd>{$xf.options.xbtTrackerRequiredRatio}</dd>
                                
                                <dt>{{ phrase('xbt_hit_and_run_hours') }}</dt>
                                <dd>{$xf.options.xbtTrackerHitAndRunHours}</dd>
                                
                                <dt>{{ phrase('xbt_global_freeleech') }}</dt>
                                <dd>
                                    <xf:if is="{{ $xf.options.xbtTrackerGlobalFreeleech }}">
                                        <span class="label label--green">{{ phrase('enabled') }}</span>
                                    <xf:else />
                                        <span class="label label--red">{{ phrase('disabled') }}</span>
                                    </xf:if>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
