<!-- admin:xbt_admin_category_delete -->
<xf:title>{{ phrase('delete_category') }}</xf:title>

<xf:form action="{{ link('torrents/categories/delete', $category) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <div class="block-row">
                {{ phrase('xbt_delete_category_confirmation', {'name': $category.title}) }}
            </div>
            
            <xf:set var="$torrentCount" value="{{ $finder('XBTTracker:Torrent')->where('category_id', $category.category_id)->total() }}" />
            
            <xf:if is="{{ $torrentCount > 0 }}">
                <div class="block-row block-row--warning">
                    {{ phrase('xbt_delete_category_has_torrents_warning', {'count': $torrentCount}) }}
                </div>
            </xf:if>
            
            <xf:if is="{{ $category.Children.count() > 0 }}">
                <div class="block-row block-row--warning">
                    {{ phrase('xbt_delete_category_has_children_warning', {'count': $category.Children.count()}) }}
                </div>
            </xf:if>
        </div>
        
        <xf:submitrow icon="delete" submit="{{ phrase('delete') }}" />
    </div>
    
    <xf:redirect url="{{ link('torrents/categories') }}" />
</xf:form>