<!-- admin:xbt_admin_torrents -->
<xf:title>{{ phrase('xbt_manage_torrents') }}</xf:title>

<xf:pageaction>
    <xf:button href="{{ link('torrents') }}" icon="view" overlay="false">{{ phrase('view_torrents') }}</xf:button>
</xf:pageaction>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('search_torrents') }}</h2>
        </div>
        <div class="block-body">
            <xf:form action="{{ link('torrents/torrents') }}" class="block">
                <div class="block-filterBar">
                    <div class="filterBar">
                        <xf:textbox name="search" value="{{ $search }}" placeholder="{{ phrase('search') }}..." />
                        
                        <xf:select name="category_id" value="{{ $categoryId }}">
                            <xf:option value="0">{{ phrase('all_categories') }}</xf:option>
                            <xf:foreach loop="$categories" value="$category">
                                <xf:option value="{$category.category_id}">{$category.title}</xf:option>
                            </xf:foreach>
                        </xf:select>
                        
                        <xf:select name="user_id" value="{{ $userId }}">
                            <xf:option value="0">{{ phrase('all_users') }}</xf:option>
                            <xf:if is="{{ $userId }}">
                                <xf:option value="{$userId}" selected="selected">{{ $torrents.first.User.username }}</xf:option>
                            </xf:if>
                        </xf:select>
                        
                        <xf:select name="sort" value="{{ $sort }}">
                            <xf:option value="date">{{ phrase('date') }}</xf:option>
                            <xf:option value="seeds">{{ phrase('seeders') }}</xf:option>
                            <xf:option value="size">{{ phrase('size') }}</xf:option>
                            <xf:option value="completed">{{ phrase('completed') }}</xf:option>
                            <xf:option value="title">{{ phrase('title') }}</xf:option>
                        </xf:select>
                        
                        <xf:select name="order" value="{{ $order }}">
                            <xf:option value="desc">{{ phrase('desc') }}</xf:option>
                            <xf:option value="asc">{{ phrase('asc') }}</xf:option>
                        </xf:select>
                        
                        <xf:button type="submit" icon="search">{{ phrase('filter') }}</xf:button>
                    </div>
                </div>
            </xf:form>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <h2 class="block-header-title">{{ phrase('xbt_torrents') }}</h2>
        </div>
        <div class="block-body">
            <xf:if is="{{ $torrents is empty }}">
                <div class="block-row">{{ phrase('xbt_no_torrents_found') }}</div>
            <xf:else />
                <div class="structItemContainer">
                    <xf:foreach loop="$torrents" value="$torrent">
                        <div class="structItem structItem--torrent">
                            <div class="structItem-cell structItem-cell--icon">
                                <div class="structItem-iconContainer">
                                    <a href="{{ link('torrents', $torrent) }}" target="_blank">
                                        <img src="{{ $torrent.poster_url }}" alt="{$torrent.title}" class="structItem-poster" />
                                    </a>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    <a href="{{ link('torrents', $torrent) }}" target="_blank">{$torrent.title}</a>
                                    <xf:if is="{{ $torrent.is_freeleech }}">
                                        <span class="label label--primary">{{ phrase('xbt_freeleech') }}</span>
                                    </xf:if>
                                </div>
                                <div class="structItem-minor">
                                    <ul class="structItem-parts">
                                        <li>{{ phrase('uploaded_by', { 'name': $torrent.User.username, 'link': link('members', $torrent.User) }) }}</li>
                                        <li>{{ phrase('xbt_category', { 'name': $torrent.Category.title, 'link': link('torrents/torrents', null, { 'category_id': $torrent.category_id }) }) }}</li>
                                        <li>{{ phrase('xbt_uploaded_on', { 'date': date_time($torrent.creation_date) }) }}</li>
                                    </ul>
                                    <ul class="structItem-parts structItem-parts--torrentTags">
                                        <xf:if is="{{ $torrent.video_quality }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.video_quality_badge.class}">
                                                    <i class="fa {$torrent.video_quality_badge.icon}"></i>
                                                    {$torrent.video_quality_badge.text}
                                                </span>
                                            </li>
                                        </xf:if>
                                        <xf:if is="{{ $torrent.audio_format }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.audio_format_badge.class}">
                                                    <i class="fa {$torrent.audio_format_badge.icon}"></i>
                                                    {$torrent.audio_format_badge.text}
                                                </span>
                                            </li>
                                        </xf:if>
                                        <xf:if is="{{ $torrent.audio_channels }}">
                                            <li>
                                                <span class="labelTorrent labelTorrent--{$torrent.audio_channels_badge.class}">
                                                    <i class="fa fa-volume-up"></i>
                                                    {$torrent.audio_channels}
                                                </span>
                                            </li>
                                        </xf:if>
                                    </ul>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--stats">
                                <div class="structItem-statuses">
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_size') }}</dt>
                                        <dd>{$torrent.size_formatted}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_seeders') }}</dt>
                                        <dd class="pairs-value--{$torrent.seeders ? 'seeders' : 'noSeeders'}">{$torrent.seeders}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_leechers') }}</dt>
                                        <dd>{$torrent.leechers}</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt>{{ phrase('xbt_completed') }}</dt>
                                        <dd>{$torrent.completed}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="structItem-cell structItem-cell--actions">
                                <div class="structItem-actions">
                                    <a href="{{ link('torrents/torrent-edit', $torrent) }}" class="menu-linkRow"
                                       data-xf-click="overlay">{{ phrase('edit') }}</a>
                                    <a href="{{ link('torrents/torrent-delete', $torrent) }}" class="menu-linkRow"
                                       data-xf-click="overlay">{{ phrase('delete') }}</a>
                                    <a href="{{ link('torrents', $torrent) }}" class="menu-linkRow" target="_blank">{{ phrase('view') }}</a>
                                </div>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
            </xf:if>
        </div>
        
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="torrents/torrents" 
                   params="{{'category_id': $categoryId, 'search': $search, 'user_id': $userId, 'sort': $sort, 'order': $order}}" />
    </div>
</div>